header h1{
    font-size: 22px;
}

header select{
    margin: 2% 0;
    padding: 5px;
    font-size: 18px;
}

header button{
    padding: 5px 20px;
    outline: none;

}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.remove-template{ 
    display: none;
 }
main > div{
    border: 1px solid;
    width: 370px;
    height: 370px;
    margin:  10px;
    padding: 9px;
}

main > div h2{
    margin: 15px;
}
main > div img{
    margin: 15px;
    width: 165px;
    height: 165px;
}
main > div p{
     font-size: 20px;
     line-height: 1.5;
}

footer {
    padding: 5% 0;
}