header h1{
    font-size: 22px;
}

header select{
    margin: 2% 0;
    padding: 5px;
    font-size: 18px;
}

main > section{
    /* float: left; */
    /* border: 1px solid; */
    width: 370px;
    height: 370px;
    margin:  10px;
    padding: 9px;
}

main > section h2{
    margin: 15px;
}
main > section img{
    margin: 15px;
    width: 165px;
    height: 165px;
}
main > section p{
     font-size: 20px;
     line-height: 1.5;
}

footer {
    padding: 5% 0;
}